html body{
  padding-top: 0px;
  padding-bottom: 30px;
  max-height:100%;
  max-width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("pics/local_texture__three_by_one_by_beyond_oddities.jpg");
  color: white;
  background-position: normal;
}
header{
  /*position: absolute;*/
  width: 100%;
  /*background-color: navajowhite;*/
  color: brown;
  background-position: relative;
  margin-bottom: 10px;

  /*height: 60px;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 10 rgba(217, 202, 202, 0.66%) ;
  font-size: 50px;*/

}




  main{
    border-style: groove;
    max-width: 960px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 50px;
    max-height: 744px;
    margin-left: 150px;
    background-color: oldlace;
    margin-top: 40;
}
  }
  .pic2{
    padding-left: 0px;
  }
  main ul{
    /*position: absolute;*/
    padding-top: 30px;
    width: 100%;
  }
  main ul li{
    /*display: inline;*/
    padding-right: 30px;
    max-width: 960px;
  }

     .footer{
      background-position: fixed ;
      clear: both;
      margin-top: 30px;
      height: 70px;
      width: 100%;
      border-bottom:10px;
      background-color: oldlace;

    }

      .slideshow-container {
        max-width: 1000px;
        height: 734px;
        position: relative;
        margin: auto;
        background-position: fixed;
        background-color: oldlace;
      }


      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        max-height: 734px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.99s ease;
        border-radius: 0 3px 3px 0;

      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }




      .dot {
        cursor:pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active, .dot:hover {
        background-color: #717171;
      }

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      .logo {
        height: 60px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: none;
        font: normal 60px/1 'Lobster', cursive;
        color: brown;
      float: left;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-shadow: 4px 0 9px rgba(221,208,208,0.7) ;
      }
      section{
        margin-left: 23px;
      }
      article{
        position: relative;
        width: 600px;
        margin-left: 0px;
      }
      h1{
        position:absolute; bottom:0; font-size:24px; font-family:"vedana";
padding:230px 150px; width:100%; text-align:center;
color: brown;font-family: 'Lobster', cursive;
      }
      .absolute-text{
        position: absolute;
        bottom: 0;
        font-size: 15px;
        font-family: 'Lobster', cursive;
        padding: 15px 75px;
        width: 100%;
        text-align: left;
        color: black;
      }
      .absolute-text a{font-size:16px; color:#b92b27;}
